@model IEnumerable<StrengthCraft.Models.Attendee>
@{
    ViewBag.Title = "Accepted";
}

<h2>Zaakceptowane zgłoszenia:</h2>
<h4>[Pobierz jako CSV]</h4>

<table class="table">
    <tr style="background-color:black; color:lightgray; width: 350px;">
        <th>Imię:</th>
        <th>Nazwisko:</th>
        <th>Email:</th>
        <th>Kategoria:</th>
        <th>Waga:</th>
        <th>Czas:</th>
        <th>Nagranie:</th>
        <th>#</th>
    </tr>

    @foreach (var attender in Model)
    {
        <tr>
            <td>@attender.AttendeeName</td>
            <td>@attender.AttendeeLastName</td>
            <td>@attender.EmailAddress</td>
            <td>@attender.Category.CategoryName</td>
            <td>@attender.Weight</td>
            <td>@attender.WorkoutDurationTime</td>
            <td>@attender.YoutubeMovieUrl</td>
            <td>Edytuj | <a href="@Url.Action("DeleteAttendance", "Attendees", new{id = attender.AttendeeId})">Usuń</a> </td>
        </tr>

    }
</table>

